<!DOCTYPE html>
<html>
    <head>
        <title>about</title> 
        <link rel="icon" href="./image/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
         {{>header}}
        <p>This site was created by Aman Goyal. It uses data from mapbox.com and darksky.net!</p>
        </div>
        {{>footer}}
    </body>
</html>